<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/qualitativeStage" method="get" >

        <% for( var products of qualitiesProducts) { %>
            <div>
                <%= products.Product.productName %>
            </div>

            <div>
                <%= products.QualityTest.name %>
            </div>
            <h4>Sim:</h4><input type="checkbox" onclick="verificarCheckboxes(qualitiesProducts)" name="qualidadeSim<%= products.Product.id %>-<%= products.QualityTest.id %>" id="qualidadeSim<%= products.Product.id %>-<%= products.QualityTest.id %>" > 
            <h4>Não:</h4> <input type="checkbox" onclick="verificarCheckboxes(qualitiesProducts)" name="qualidadeNao<%= products.Product.id %>-<%= products.QualityTest.id %>" id="qualidadeNao<%= products.Product.id %>-<%= products.QualityTest.id %>">

           
            
            <% } %>
            <input type="hidden" name="qualitiesProducts" value="<%= JSON.stringify(qualitiesProducts) %>">
            <input type="submit" value="Testar">
    </form>
</body>

</html>

<script>
    function verificarCheckboxes(qualitiesProducts) {
        console.log("Função verificarCheckboxes() foi chamada!");
        <% for (var products of qualitiesProducts) { %>
            var checkboxSim = document.querySelector("#qualidadeSim<%= products.Product.id %>-<%= products.QualityTest.id %>");
            var checkboxNao = document.querySelector("#qualidadeNao<%= products.Product.id %>-<%= products.QualityTest.id %>");
            var sim = checkboxSim.checked;
            var nao = checkboxNao.checked;
            if (sim) {
                console.log("Entrei no if SIM")
                qualitiesProducts.Approved = true
                console.log(qualitiesProducts)
            } else if(nao) {
                console.log("Entrei no if NÃO")
                qualitiesProducts.Approved = false
                console.log(qualitiesProducts)
            }
            console.log(qualitiesProducts)
            console.log(qualitiesProducts.Approved)
            console.log("Produto <%= products.Product.id %> - Teste <%= products.QualityTest.id %>: sim=", sim, ", nao=", nao);
        <% } %>
    }
    </script>
