<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/qualitativeStage" method="post">

        <% for( var produtos of qualidadeProdutos) { %>
            <div>
                <%= produtos.Produto.nomeProduto %>
            </div>

            <div>
                <%= produtos.TesteQualidade.nomeTeste %>
            </div>
            <input type="radio" value="true" name="qualidadeSim<%= produtos.Produto.id %>-<%= produtos.TesteQualidade.id %>" id="qualidadeSim<%= produtos.Produto.id %>-<%= produtos.TesteQualidade.id %>" > 
                <label for="qualidadeSim<%= produtos.Produto.id %>-<%= produtos.TesteQualidade.id %>">Sim</label>
            <input type="radio" value="false" name="qualidadeNao<%= produtos.Produto.id %>-<%= produtos.TesteQualidade.id %>" id="qualidadeNao<%= produtos.Produto.id %>-<%= produtos.TesteQualidade.id %>">
                <label for="qualidadeNao<%= produtos.Produto.id %>-<%= produtos.TesteQualidade.id %>">Não</label>
           
            
            <% } %>
            <input type="hidden" name="qualidadeProdutos" value="<%= JSON.stringify(qualidadeProdutos) %>">
            <input type="submit" value="Testar">
    </form>
</body>

</html>
